
/* position means that is not to display flex or wont push other stuff around it 
you have to put height and width when it is in na div
z-index allows you to put design on top of the image  */
.mainform{
    margin-bottom:100%;
}
.searchform{
    position: absolute;
    top: 45%;
    left: 38.5%;
    z-index: 2;
    
}

.searchbar{
    font-size: 200%;
    background-color: transparent;
    border: none;
    text-align: center;
    color: black;
    animation: appear 30s;
}

.searchbar::placeholder{
    color: black;
    opacity: 40%;
}

.backgroundimage{
    background: blue url("oceano.jpeg") no-repeat;
    margin: 0;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    overflow-x: hidden;
    filter: brightness(180%);
}
/* 
it is one sigular obj that is why i dont need to put as background,
como eu fiz com a pagina do oceano que eu precisei colocar como plano de fundo total.
eu uso filter para inverter a cor da flecha que e preta para branca. */
.arrowdown{
    filter: invert(100%);
    position: absolute; 
    top: 10%;
    margin-top: 37%;
    margin-left: -48%;
    cursor: pointer;

}

/* 
display block just put it right in the middle */

.apollomoon{
    position: absolute;
    top: -05%;
    left: 25%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    transform: scale(0.70); 
    z-index: -1;
    animation: grow 25s;
    border-radius: 100%;
}
/* transform  in apollomoon scale has to match the transform scale in @keyframes */

@keyframes grow {
    0% {
        transform: scale(.25);
    }
    100% {
        transform: scale(0.70);
    }
    
}

@keyframes appear{
    0% {
        /* transform: scale(.25);  */
        opacity: 0;
    }
    100% {
        /* transform: scale(1); */
        opacity: 1;
    }
    
}
.space{
    margin-bottom: 47%;
    color: transparent;
    /* background-color: bisque; */
}
.more-info{
    color: black;
    display :flex; 
    flex-direction :column; 
    justify-content :center;
    background-color: #a7d7e1;
    overflow-y: hidden;
}

.rectangle{
    width: 26vw;
    height: 85vh;
    background-color: #426bac; 
    display: flex;
    flex-direction:column;
    border-radius: 10px;
    /* justify-content:center; */
    /* align-content: center; */
    outline: 1px black;
    color: whitesmoke
}

.rectangle-title{
    font-size:3.25vh;
    margin-top: 15%;
    font-weight: bolder;
    /* margin-bottom: 1.5%; */
}

.rectangle-titlemargin{
    font-size:3.25vh;
    margin-top: 15%;
    font-weight: bolder;
    margin-bottom: 4.5%;
}

.extremes{
    margin-bottom: 2.5%;
}

.fishing{
    margin-bottom: 2.5%;
}

.backdrop{
    width: 100%;
    max-width: 100%;
    /* overflow-x: hidden; */
    left: 0;
    background-color: rgb(239, 237, 235);
}

.rectanglewrapper{
    display: flex;
    flex-direction: row;
    justify-content : space-evenly;
}


.carousel{
    display :flex; 
    flex-direction :row; 
    justify-content :space-around;
    overflow-x: scroll;
    overflow-y: hidden;
    width:120%;
}


.minimoon{
    width: 100%;
    height: 37.5vh;
    align-self: center;
    /* margin-top:-50%; */
    margin-bottom: -8%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.creatures{
    text-align: left;
    margin-bottom: 2%;
    
}

.tidecreatures{
    align-content: flex-start;
    display: flex;
    flex-direction: column;
}

.moonphases{
    width: 100vw;
    height: 80vh;
    background-color: rgb(61, 60, 60); 
    display: center;
    flex-direction: row;
    justify-content: center;
    /* margin-left: 1%; */
    border-radius: 10px;
    color: whitesmoke;
    margin-bottom: 5%;
    margin-top: 5%;
}

.moonphases-information{
    display: flex;
    flex-direction: row;
}


.moonimages-list{
    display: flex;
    flex-direction: column;
    list-style:none;
    margin-top: 3%;
}

.phases{
    margin-bottom: 5%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.moonphaseslist{
    margin-bottom: 20%;
    list-style: none;
    text-align: left;
    /* padding-right: 5%; */
    width: 95%;
    margin-top: 5%;

}



.moonphasesimage{
    width: 100%;
    height: 37.5vh;
    align-self: center;
}
.rectangle-moon{
    font-size:5.25vh;
    padding-top: 2%;
    font-weight: bolder;
    margin-bottom: -1%;
}

.moonpic{
    height: 12.5vh;
    /* padding-right: 40%; */
}

.moonimgwrapper{
    display :flex; 
    flex-direction :row; 
    justify-content :flex-end;
}

.phases-images{
    margin-bottom: 5%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

