
.mainhome{
    background: url('./oceano.jpeg') center no-repeat;
    background-size: cover;
    margin: 0;

}

.oceanimage{
    background-size: cover;
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}