* { 
  box-sizing: border-box;
}
/* it makes sure that all the elements inside of the wrapper have the same styles 
display flex makes them follow the same path */
.headerwrapper{
    position: absolute;
    background-color: transparent;
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
}

.showlogin{
  color: whitesmoke;
  position: absolute;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
    font-size: 130%;
}

.showlogin:hover{
  cursor: pointer;
}

.menutitle{
  font-size: 40px;
  margin-bottom: 35px;
  margin-top: none;
  margin-left: 50%;
  color: white;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #e9d29d, 0 0 0.5em #e7d6af, 0 0 0.1em #d5c39a, 0 10px 3px #000;
}


/* posision absolute vai fazer com que o logout fique parado e nao se mexa 
quando for clicado favoritos */
.menulogout{
  top: 90%;
  font-size: 120%;
  left: 60%;
  position: absolute;
}

.menulogout{
  color: #e9d29d;
  cursor: pointer;
  font-size: 24px;
}

.button{
  height: 2.1vh;
  align-self: center;
  margin-left: 1vh;
  filter:invert(100%);
}


/* isso diz para os outros seguir o mesmo padrao dislplay flex */
.favoriteItemWrapper{
  display: flex;
  flex-direction: row;
}

.menuholder ul{
  list-style: none;
  padding: 0;
  text-align: center;
  line-height: 1.6;
}

.menu{
  font-size: 120%;
  margin-left: 70%;
  margin-top: 10%;
  
}

.menu:hover{
  color: #e9d29d;
  cursor: pointer;
  font-size: 24px;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #ddd5c2;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: lightblue;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.9em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  .title {
    font-style: arial, helvetica, sans-serif;
    font-size: 300%;
    color: white;
    margin-left: 550%;
    width: 200%;
    margin-top: 25%;
    font-weight: bold;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #e9d29d, 0 0 0.5em #e7d6af, 0 0 0.1em #d5c39a, 0 10px 3px #000;

  }